n8n-workflows/infra-issue-orchestrator.json
{
  "name": "Infra Issue Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "infra-issue",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "webhook-github-issue",
      "name": "GitHub Issue Webhook",
      "webhookId": "infra-issue-webhook"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst input = rawInput.body || rawInput;\n\n// Issue opened 이벤트만 처리\nif (input.action !== 'opened') {\n  return { skip: true, reason: 'Not an opened issue' };\n}\n\nconst issue = input.issue || {};\nconst repo = input.repository || {};\n\n// 본문에서 변경 타입 추출 (terraform, docker, ci 등)\nconst body = issue.body || '';\nlet changeType = 'general';\nif (body.toLowerCase().includes('terraform')) changeType = 'terraform';\nelse if (body.toLowerCase().includes('docker')) changeType = 'docker';\nelse if (body.toLowerCase().includes('ci/cd') || body.toLowerCase().includes('github action')) changeType = 'ci';\nelse if (body.toLowerCase().includes('monitoring') || body.toLowerCase().includes('alert')) changeType = 'monitoring';\n\nreturn {\n  skip: false,\n  issue: {\n    number: issue.number,\n    title: issue.title || 'No Title',\n    body: body.substring(0, 1000),\n    url: issue.html_url,\n    author: issue.user?.login || 'unknown',\n    labels: (issue.labels || []).map(l => l.name).join(', ')\n  },\n  repo: {\n    name: repo.name || 'infrastructure',\n    fullName: repo.full_name || 'ryu-qqq/infrastructure'\n  },\n  changeType: changeType,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "id": "parse-issue",
      "name": "Parse Issue Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300],
      "id": "should-process",
      "name": "Should Process?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"C0A5JRE5K09\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\"type\": \"plain_text\", \"text\": \"🏗️ 새로운 인프라 변경 요청\", \"emoji\": true}\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\"type\": \"mrkdwn\", \"text\": \"*Issue:*\\n<{{ $json.issue.url }}|#{{ $json.issue.number }}>\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Type:*\\n{{ $json.changeType }}\"}\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\"type\": \"mrkdwn\", \"text\": \"*제목:*\\n{{ $json.issue.title }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*작성자:*\\n{{ $json.issue.author }}\"}\n      ]\n    },\n    {\"type\": \"divider\"},\n    {\n      \"type\": \"section\",\n      \"text\": {\"type\": \"mrkdwn\", \"text\": \"*내용:*\\n```{{ $json.issue.body }}```\"}\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"✅ 승인\", \"emoji\": true}, \"style\": \"primary\", \"value\": \"approve|{{ $json.issue.number }}|{{ $json.repo.fullName }}\", \"action_id\": \"infra_approve\"},\n        {\"type\": \"button\", \"text\": {\"type\": \"plain_text\", \"text\": \"❌ 거절\", \"emoji\": true}, \"style\": \"danger\", \"value\": \"reject|{{ $json.issue.number }}|{{ $json.repo.fullName }}\", \"action_id\": \"infra_reject\"}\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 250],
      "id": "slack-approval-request",
      "name": "Slack: Approval Request",
      "credentials": {
        "slackApi": {
          "id": "JudHaRQYOjQVx9Xo",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "infra-slack-action",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 600],
      "id": "webhook-slack-action",
      "name": "Slack Action Webhook",
      "webhookId": "infra-slack-action-webhook"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst payload = JSON.parse(rawInput.body?.payload || '{}');\n\nconst action = payload.actions?.[0] || {};\nconst actionId = action.action_id || '';\nconst value = action.value || '';\nconst parts = value.split('|');\n\nconst user = payload.user?.name || 'unknown';\nconst responseUrl = payload.response_url;\nconst messageTs = payload.message?.ts;\n\n// 메시지에서 Issue 정보 추출\nconst blocks = payload.message?.blocks || [];\nlet issueTitle = '';\nlet issueBody = '';\n\nfor (const block of blocks) {\n  if (block.fields) {\n    for (const field of block.fields) {\n      if (field.text?.includes('*제목:*')) {\n        issueTitle = field.text.replace('*제목:*\\n', '');\n      }\n    }\n  }\n  if (block.text?.text?.includes('*내용:*')) {\n    issueBody = block.text.text.replace('*내용:*\\n```', '').replace('```', '');\n  }\n}\n\nreturn {\n  actionType: parts[0] || 'unknown',\n  issueNumber: parts[1] || '',\n  repoFullName: parts[2] || 'ryu-qqq/infrastructure',\n  user: user,\n  responseUrl: responseUrl,\n  messageTs: messageTs,\n  issueTitle: issueTitle,\n  issueBody: issueBody\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 600],
      "id": "parse-slack-action",
      "name": "Parse Slack Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-approve",
              "leftValue": "={{ $json.actionType }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 600],
      "id": "is-approved",
      "name": "Is Approved?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ryuqqq.atlassian.net/rest/api/3/issue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  fields: {\n    project: { key: 'INF' },\n    issuetype: { name: 'Epic' },\n    summary: '[Infra] ' + $json.issueTitle.substring(0, 80),\n    description: {\n      type: 'doc',\n      version: 1,\n      content: [{\n        type: 'paragraph',\n        content: [{\n          type: 'text',\n          text: 'GitHub Issue: #' + $json.issueNumber + '\\n\\n' + $json.issueBody\n        }]\n      }]\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 500],
      "id": "create-jira-epic",
      "name": "Create Jira Epic",
      "credentials": {
        "httpBasicAuth": {
          "id": "n8eFLGr80zDqK1Ie",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jiraResult = $input.first().json;\nconst actionData = $('Parse Slack Action').first().json;\n\nconst jiraKey = jiraResult.key;\nconst jiraDomain = 'ryuqqq.atlassian.net';\n\n// 브랜치명 생성: epic/INF-123-issue-title\nconst branchName = `epic/${jiraKey}-issue-${actionData.issueNumber}`;\n\nreturn {\n  jira: {\n    key: jiraKey,\n    id: jiraResult.id,\n    url: `https://${jiraDomain}/browse/${jiraKey}`\n  },\n  branch: branchName,\n  issueNumber: actionData.issueNumber,\n  issueTitle: actionData.issueTitle,\n  issueBody: actionData.issueBody,\n  repoFullName: actionData.repoFullName,\n  responseUrl: actionData.responseUrl,\n  user: actionData.user\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 500],
      "id": "format-jira-result",
      "name": "Format Jira Result"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoFullName }}/git/ref/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "id": "get-main-sha",
      "name": "Get Main SHA",
      "credentials": {
        "githubApi": {
          "id": "uJpJHjMJj6qdmUVx",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Format Jira Result').first().json.repoFullName }}/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  ref: 'refs/heads/' + $('Format Jira Result').first().json.branch,\n  sha: $json.object.sha\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 500],
      "id": "create-branch",
      "name": "Create Branch",
      "credentials": {
        "githubApi": {
          "id": "uJpJHjMJj6qdmUVx",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Format Jira Result').first().json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\"type\": \"plain_text\", \"text\": \"✅ 인프라 변경 요청 승인됨\", \"emoji\": true}\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\"type\": \"mrkdwn\", \"text\": \"*Jira:*\\n<{{ $('Format Jira Result').first().json.jira.url }}|{{ $('Format Jira Result').first().json.jira.key }}>\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Branch:*\\n`{{ $('Format Jira Result').first().json.branch }}`\"}\n      ]\n    },\n    {\"type\": \"divider\"},\n    {\n      \"type\": \"section\",\n      \"text\": {\"type\": \"mrkdwn\", \"text\": \"<@U0A8KTYFCKU> 위 Jira Epic과 브랜치가 생성되었습니다.\\n\\n*요청 내용:*\\n```{{ $('Format Jira Result').first().json.issueTitle }}```\\n\\n:robot_face: `{{ $('Format Jira Result').first().json.branch }}` 브랜치에서 작업 후 PR을 생성해주세요.\"}\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\"type\": \"mrkdwn\", \"text\": \"✅ 승인자: {{ $('Format Jira Result').first().json.user }}\"}\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 500],
      "id": "slack-approve-result",
      "name": "Slack: Approve Result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\"type\": \"plain_text\", \"text\": \"❌ 인프라 변경 요청 거절됨\", \"emoji\": true}\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\"type\": \"mrkdwn\", \"text\": \"*Issue:* #{{ $json.issueNumber }}\\n*제목:* {{ $json.issueTitle }}\"}\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\"type\": \"mrkdwn\", \"text\": \"❌ 거절자: {{ $json.user }}\"}\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 700],
      "id": "slack-reject-result",
      "name": "Slack: Reject Result"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "={{ $json.repoFullName.split('/')[0] }}",
        "repository": "={{ $json.repoFullName.split('/')[1] }}",
        "issueNumber": "={{ $json.issueNumber }}",
        "editFields": {
          "state": "closed"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1080, 700],
      "id": "close-github-issue",
      "name": "Close GitHub Issue",
      "credentials": {
        "githubApi": {
          "id": "uJpJHjMJj6qdmUVx",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atlantis-plan",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1000],
      "id": "webhook-atlantis",
      "name": "Atlantis Plan Webhook",
      "webhookId": "atlantis-plan-webhook"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst input = rawInput.body || rawInput;\n\n// PR 코멘트 이벤트 + Atlantis 코멘트인지 확인\nif (input.action !== 'created') {\n  return { skip: true, reason: 'Not a created comment' };\n}\n\nconst comment = input.comment?.body || '';\nconst isAtlantis = comment.includes('Ran Plan for') || comment.includes('atlantis plan');\n\nif (!isAtlantis) {\n  return { skip: true, reason: 'Not an Atlantis comment' };\n}\n\nconst pr = input.issue || {};\nconst repo = input.repository || {};\n\n// Plan 결과 파싱 (간단하게 성공/실패 + 변경 요약)\nlet planStatus = 'unknown';\nlet planSummary = '';\n\nif (comment.includes('Plan: ')) {\n  const planMatch = comment.match(/Plan: (\\d+) to add, (\\d+) to change, (\\d+) to destroy/);\n  if (planMatch) {\n    planStatus = 'success';\n    planSummary = `+${planMatch[1]} ~${planMatch[2]} -${planMatch[3]}`;\n  }\n} else if (comment.includes('Error:') || comment.includes('failed')) {\n  planStatus = 'failed';\n  planSummary = 'Plan 실패 - 로그 확인 필요';\n}\n\n// Plan 내용 추출 (```diff ... ``` 블록)\nlet planDiff = '';\nconst diffMatch = comment.match(/```diff([\\s\\S]*?)```/);\nif (diffMatch) {\n  planDiff = diffMatch[1].trim().substring(0, 1500);\n}\n\nreturn {\n  skip: false,\n  pr: {\n    number: pr.number,\n    title: pr.title,\n    url: pr.html_url\n  },\n  repo: {\n    name: repo.name,\n    fullName: repo.full_name\n  },\n  plan: {\n    status: planStatus,\n    summary: planSummary,\n    diff: planDiff\n  },\n  commentUrl: input.comment?.html_url\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 1000],
      "id": "parse-atlantis-plan",
      "name": "Parse Atlantis Plan"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 1000],
      "id": "should-notify-plan",
      "name": "Should Notify?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A5JRE5K09"
        },
        "text": "=:terraform: *Atlantis Plan 결과*\n\n*PR:* <{{ $json.pr.url }}|#{{ $json.pr.number }}> {{ $json.pr.title }}\n*Status:* {{ $json.plan.status === 'success' ? '✅ Success' : '❌ Failed' }}\n*변경:* `{{ $json.plan.summary }}`\n\n{{ $json.plan.diff ? '*Plan Diff:*\\n```' + $json.plan.diff + '```' : '' }}\n\n<{{ $json.commentUrl }}|Atlantis 코멘트 보기>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [860, 950],
      "id": "slack-plan-result",
      "name": "Slack: Plan Result",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7CqPgPHDmL7bLv4G",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "infra-pr-merged",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 1300],
      "id": "webhook-pr-merge",
      "name": "PR Merged Webhook",
      "webhookId": "infra-pr-merged-webhook"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst input = rawInput.body || rawInput;\n\n// PR closed + merged 이벤트만 처리\nif (input.action !== 'closed' || !input.pull_request?.merged) {\n  return { skip: true, reason: 'Not a merged PR' };\n}\n\nconst pr = input.pull_request;\nconst branch = pr.head?.ref || '';\n\n// epic/ 브랜치가 아니면 스킵\nif (!branch.startsWith('epic/')) {\n  return { skip: true, reason: 'Not an epic branch' };\n}\n\n// 브랜치명에서 Jira 키 추출 (epic/INF-123-xxx)\nconst jiraMatch = branch.match(/epic\\/([A-Z]+-\\d+)/);\nconst jiraKey = jiraMatch ? jiraMatch[1] : null;\n\nreturn {\n  skip: false,\n  pr: {\n    number: pr.number,\n    title: pr.title,\n    url: pr.html_url,\n    branch: branch,\n    mergedBy: pr.merged_by?.login || 'unknown'\n  },\n  jiraKey: jiraKey,\n  repo: input.repository?.full_name || 'unknown'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 1300],
      "id": "parse-pr-merge",
      "name": "Parse PR Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-jira",
              "leftValue": "={{ $json.jiraKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 1300],
      "id": "has-jira-key",
      "name": "Has Jira Key?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ryuqqq.atlassian.net/rest/api/3/issue/{{ $json.jiraKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"transition\": { \"id\": \"31\" } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 1250],
      "id": "update-jira-done",
      "name": "Update Jira to Done",
      "credentials": {
        "httpBasicAuth": {
          "id": "n8eFLGr80zDqK1Ie",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A5JRE5K09"
        },
        "text": "=:white_check_mark: *인프라 변경 완료!*\n\n*PR:* <{{ $('Parse PR Merge').first().json.pr.url }}|#{{ $('Parse PR Merge').first().json.pr.number }}> {{ $('Parse PR Merge').first().json.pr.title }}\n*Jira:* {{ $('Parse PR Merge').first().json.jiraKey }} → *완료*\n*머지:* {{ $('Parse PR Merge').first().json.pr.mergedBy }}\n\n:tada: 인프라 변경이 성공적으로 배포되었습니다!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1080, 1250],
      "id": "slack-completion",
      "name": "Slack: Completion",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7CqPgPHDmL7bLv4G",
          "name": "Slack OAuth"
        }
      }
    }
  ],
  "connections": {
    "GitHub Issue Webhook": {
      "main": [
        [{"node": "Parse Issue Data", "type": "main", "index": 0}]
      ]
    },
    "Parse Issue Data": {
      "main": [
        [{"node": "Should Process?", "type": "main", "index": 0}]
      ]
    },
    "Should Process?": {
      "main": [
        [{"node": "Slack: Approval Request", "type": "main", "index": 0}],
        []
      ]
    },
    "Slack Action Webhook": {
      "main": [
        [{"node": "Parse Slack Action", "type": "main", "index": 0}]
      ]
    },
    "Parse Slack Action": {
      "main": [
        [{"node": "Is Approved?", "type": "main", "index": 0}]
      ]
    },
    "Is Approved?": {
      "main": [
        [{"node": "Create Jira Epic", "type": "main", "index": 0}],
        [{"node": "Slack: Reject Result", "type": "main", "index": 0}]
      ]
    },
    "Create Jira Epic": {
      "main": [
        [{"node": "Format Jira Result", "type": "main", "index": 0}]
      ]
    },
    "Format Jira Result": {
      "main": [
        [{"node": "Get Main SHA", "type": "main", "index": 0}]
      ]
    },
    "Get Main SHA": {
      "main": [
        [{"node": "Create Branch", "type": "main", "index": 0}]
      ]
    },
    "Create Branch": {
      "main": [
        [{"node": "Slack: Approve Result", "type": "main", "index": 0}]
      ]
    },
    "Slack: Reject Result": {
      "main": [
        [{"node": "Close GitHub Issue", "type": "main", "index": 0}]
      ]
    },
    "Atlantis Plan Webhook": {
      "main": [
        [{"node": "Parse Atlantis Plan", "type": "main", "index": 0}]
      ]
    },
    "Parse Atlantis Plan": {
      "main": [
        [{"node": "Should Notify?", "type": "main", "index": 0}]
      ]
    },
    "Should Notify?": {
      "main": [
        [{"node": "Slack: Plan Result", "type": "main", "index": 0}],
        []
      ]
    },
    "PR Merged Webhook": {
      "main": [
        [{"node": "Parse PR Merge", "type": "main", "index": 0}]
      ]
    },
    "Parse PR Merge": {
      "main": [
        [{"node": "Has Jira Key?", "type": "main", "index": 0}]
      ]
    },
    "Has Jira Key?": {
      "main": [
        [{"node": "Update Jira to Done", "type": "main", "index": 0}],
        []
      ]
    },
    "Update Jira to Done": {
      "main": [
        [{"node": "Slack: Completion", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "infra-issue-orchestrator",
    "description": "인프라 변경 요청 오케스트레이터 - GitHub Issue → Slack 승인 → Jira Epic → Branch → Atlantis Plan → PR Merge",
    "version": "2.0.0",
    "flows": {
      "issue_approval": "GitHub Issue → Slack 승인/거절 → Jira Epic + Branch 생성",
      "atlantis_plan": "Atlantis Plan 결과 → Slack 알림",
      "pr_completion": "PR Merge → Jira 완료 → Slack 알림"
    },
    "webhooks": {
      "infra-issue": "GitHub Issues webhook (opened events)",
      "infra-slack-action": "Slack Interactivity Request URL",
      "atlantis-plan": "GitHub issue_comment webhook (for Atlantis comments)",
      "infra-pr-merged": "GitHub Pull Request webhook (closed events)"
    },
    "credentials_required": [
      "Jira Basic Auth - Jira Cloud API",
      "GitHub Token - GitHub Personal Access Token",
      "Slack API - Slack Bot Token",
      "Slack OAuth - Slack OAuth2"
    ],
    "setup_notes": [
      "1. GitHub → Settings → Webhooks 설정:",
      "   - Issues: /webhook/infra-issue",
      "   - Issue comments: /webhook/atlantis-plan",
      "   - Pull requests: /webhook/infra-pr-merged",
      "2. Slack → App Settings → Interactivity 설정:",
      "   - Request URL: /webhook/infra-slack-action",
      "3. Jira 프로젝트 키 (INF) 확인 및 수정",
      "4. Slack 채널 ID 확인 및 수정",
      "5. Jira transition ID '31'이 'Done' 상태인지 확인"
    ]
  }
}
